.header_container {
  padding-top: 1rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader_container {
}

.outer_path {
  stroke: white;
  stroke-width: 8px;
}

.inner_path {
  fill: white;
}
